.Buku-tamu{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 89%;
    gap: 1%;
    /* border-radius: 16px; */
    /* border: 1px solid var(--color-border); */
    /* scroll-behavior: smooth; */

    /* Firefox scrollbar */
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

.Buku-tamu-search-box{
    background: var(--color-bg-white);
    border-radius: 16px;
    padding: 20px;
    border: 1px solid var(--color-border);
    display: grid;
    grid-template-columns: 50% 50%;
}

.Buku-tamu-content{
    background: var(--color-bg-white);
    border-radius: 16px;
    padding: 20px;
    border: 1px solid var(--color-border);
    overflow: auto;
}

.date-selector{
    display: grid;
    grid-template-columns: 75% 11% 11%;
    gap: 1%;
}

.export-selector{
    display: grid;
    grid-template-columns: 89% 11% ;
}

.export-selector > * {
  grid-column: 2;
}