#main-parent-tracking {
    height: 100%;
    border: 1px solid var(--color-border);
    background: var(--color-bg-white);
    border-radius: 16px;
    display: grid;
    grid-template-rows: 10% 89%;
    padding: 20px;
    gap: 15px
}

#main-parent-tracking-header {
    display: grid;
    height: 100%;
}

#main-parent-tracking-header-controler {
    display: grid;
    grid-template-columns: 65% 35%;
    height: 100%;
}

#main-parent-tracking-header-body {
    padding: 15px;
    height: 100%;
    overflow: auto;
}

#main-parent-tracking-header-controler-search {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.search-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: left;
    width: 100%;
    height: 50%;
}

.search-form label {
    padding-left: 30px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

.search-form input {
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

.search-form button {
    background: #e60012;
    border: none;
    color: white;
    padding: 7px 15px;
    border-radius: 6px;
    cursor: pointer;
    width: 60px;
    transition: background 0.3s ease;
}

.search-form button:hover {
    background: #b80000;
}

#main-parent-tracking-header-controler-export {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 30px;
}

#main-parent-tracking-header-controler-export button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50%;
    width: 60px;
    background-color: #ce0202;

    border: none;
    color: white;
    padding: 7px 15px;
    border-radius: 6px;
    cursor: pointer;
    width: 60px;
    transition: background 0.3s ease;
}

#main-parent-tracking-header-body-content {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    overflow: auto;
}

.search-form select {
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    background-color: white;
    color: #333;
    cursor: pointer;
    font-size: 0.9rem;
    transition: 0.3s;
}

.search-form select:focus {
    border-color: #e60012;
    box-shadow: 0 0 5px rgba(230, 0, 18, 0.5);
}

@media (max-width: 500px) {
    #main-parent-tracking {
        display: flex;
        flex-direction: column;
    }

    .search-form label {
        display: none;
    }


    #main-parent-tracking-header {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
    }

    #main-parent-tracking-header-controler {
        display: grid;
        grid-template-columns: 70% 20%;
    }

    .search-form {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: left;
        width: 100% !important;
        height: 100%;
    }

    #main-parent-tracking-header-controler-export {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-right: 0px;
        width: 100%;
        padding : 5px;

    }

    #main-parent-tracking-header-controler-export button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 60px;
    background-color: #ce0202;

    border: none;
    color: white;
    padding: 7px 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}
#main-parent-tracking-header-controler-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: max-content;
    padding: 5px;
}

#main-parent-tracking-header-body {

    padding: 0;
    margin-top: 10px;
}

#main-parent-tracking-header h2 {
    margin-bottom: 20px;
}

#main-parent-tracking-header {
    padding-top: 20px;
    display: grid;
    grid-template-rows: 50% 50%;
}


.search-form input {
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    width:30%;
}
}