.dashboard-page {
  width: 100%;
  /* vw = 100% dari lebar viewport */
  height: 100%;
  /* vh = 100% dari tinggi viewport */
  max-width: 100%;
  max-height: 100%;
  padding: 2px;
  overflow: auto;
}


#main-parent-dasboard {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  display: grid;
  grid-template-rows: 65% 35%;

}

#title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

#title2 {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

#dashboard-body {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 30% 40% 29%;
  grid-template-rows: 45% 55%;
  gap: 10px;
}

#dashboard-body div {

  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}

#dashboard-body2 {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  padding: 10px;
  display: flex;
  gap: 10px;
}

@media (max-width: 500px) {
  .dashboard-page {
  width: 100vw;
  /* vw = 100% dari lebar viewport */
  height: auto;
  /* vh = 100% dari tinggi viewport */
  max-width: 100vw;
  max-height: 100%;
  padding: 2px;
  background-color: whitesmoke;
}


  #main-parent-dasboard {
  display: flex;
  flex-direction: column;
  height: max-content;
}
  #dashboard-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
     height: max-content;
  width: 100%;

  }

  #dashboard-body > div:nth-child(1) {
  height: 280px;
}
#dashboard-body > div:nth-child(2) {
  height: 280px;
}
#dashboard-body > div:nth-child(4) {
  height: 280px;
}
#dashboard-body > div:nth-child(5) {
  height: 480px;
}
#dashboard-body > div:nth-child(6) {
  height: 280px;
}




  #title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-top: 40px;
}

/* Sembunyikan kolom ke-3 dan ke-4 */
/* Sembunyikan kolom header */
table.table th:nth-child(2),
table.table th:nth-child(3),
table.table th:nth-child(4),
table.table th:nth-child(6),
table.table th:nth-child(7),
table.table th:nth-child(8),
table.table th:nth-child(9),
table.table th:nth-child(10) {
  display: none;
}

/* Sembunyikan kolom body */
table.table td:nth-child(2),
table.table td:nth-child(3),
table.table td:nth-child(4),
table.table td:nth-child(6),
table.table td:nth-child(7),
table.table td:nth-child(8),
table.table td:nth-child(9),
table.table td:nth-child(10) {
  display: none;
}


}