.card-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 5px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

#card {
  background-color: rgb(158, 6, 6);
  color: white;
  border-radius: 12px;
  padding: 5px;
  width: max-content;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

#card p{
  margin: 0;
}


.room {
  font-size: 20px;
}


.value {
  margin: 4px 0;
  font-size: 16px;
  text-align: left;
}

strong{
  font-size: 25px;
}

@media (max-width: 500px) {
  .card-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
}
