.table-report-list {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin-top: 10px;
}

.table-report-list table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.table-report-list th,
.table-report-list td {
  border-top: 1px solid #ddd;    /* border atas */
  border-bottom: 1px solid #ddd; /* border bawah */
  border-left: none;              /* hilangkan kiri */
  border-right: none;             /* hilangkan kanan */
  padding: 8px 12px;
  text-align: left;
  font-size: 12px;
}

.table-report-list th {
  background-color: #f4f4f4;
  font-weight: 600;
}

.table-report-list tr:nth-child(even) {
  background-color: #fafafa;
}

.table-report-list tr:hover {
  background-color: #f1f1f1;
}

.table-report-list td {
  vertical-align: middle;
}

/* wrapper fade-in */
.table-report-list-warper {
  opacity: 0;
  transform: translateY(10px); /* sedikit turun dulu */
  animation: fadeInUp 0.5s forwards; /* jalankan animasi */
}

/* keyframes fade-in */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* .table-report-list-warper{
    height: 100%;
    max-height: 100%;
} */